{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    <nav class="m-footer-social">
      {{#if @site.twitter}}
      <a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
        <span class="icon-twitter" aria-hidden="true"></span>
      </a>
      {{/if}}
      <a href="https://github.com/candostdagdeviren" target="_blank" rel="noopener" aria-label="GitHub">
        <span class="icon-github" aria-hidden="true"></span>
      </a>
      <a href="https://www.youtube.com/channel/UCc3ILAz03vYGyjg-2DLYhXA" target="_blank" rel="noopener" aria-label="YouTube">
        <span class="icon-youtube" aria-hidden="true"></span>
      </a>
      <a href="https://linkedin.com/in/candost" target="_blank" rel="noopener" aria-label="Linkedin">
        <span class="icon-linkedin" aria-hidden="true"></span>
      </a>
      <a href="{{@site.url}}/rss" aria-label="RSS">
        <span class="icon-rss" aria-hidden="true"></span>
      </a>
    </nav>
    <p class="m-footer-copyright">
      All content is licensed under <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike 4.0 International
        (CC
        BY-NC-SA 4.0)</a>
    </p>
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span><a href="https://github.com/candostdagdeviren/liebling" target="_blank" rel="noopener">Theme</a></span>
    </p>
  </div>
</footer>