{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    <nav class="m-footer-social">
      {{#if @site.twitter}}
      <a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
        <span class="icon-twitter" aria-hidden="true"></span>
      </a>
      {{/if}}
      <a href="https://github.com/candostdagdeviren" target="_blank" rel="noopener" aria-label="GitHub">
        <span class="icon-github" aria-hidden="true"></span>
      </a>
      <a href="https://www.youtube.com/channel/UCc3ILAz03vYGyjg-2DLYhXA" target="_blank" rel="noopener" aria-label="YouTube">
        <span class="icon-youtube" aria-hidden="true"></span>
      </a>
      <a href="https://linkedin.com/in/candost" target="_blank" rel="noopener" aria-label="Linkedin">
        <span class="icon-linkedin" aria-hidden="true"></span>
      </a>
      <a href="{{@site.url}}/rss" aria-label="RSS">
        <span class="icon-rss" aria-hidden="true"></span>
      </a>
    </nav>
    <p class="m-footer-copyright">
      <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="https://candost.blog">The content on this website</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://candostdagdeviren.com">Candost Dagdeviren</a> is licensed under <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="Image of CC icon for Creative Commons License"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="Image of attribution required icon for Creative Commons License"></a></p>
    </p>
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span><a href="https://polywork.com/candost" target="_blank" rel="noopener">Timeline</a></span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span><a href="https://candost.blog/analytics/">Statistics</a></span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span><a href="https://candost.blog/privacy-policy/">Privacy Policy</a></span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span><a href="https://github.com/candostdagdeviren/liebling" target="_blank" rel="noopener">Theme</a></span>
    </p>
  </div>
</footer>