{{!--
This subscribe template is used to display the form where users can subscribe.
You need to enable the members feature first.
--}}

<div class="m-subscribe-section__form" style="text-align: center;">
  <h2>Casual letters reflecting my learnings and thoughts about software engineering leadership and life, arriving every second Tuesday.</h2>
  <br \>
  <p style="font-size:0.8em">I also send notifications of my irregular blog posts and podcast episodes. You can unsubscribe from any of them separately whenever you want.</p><br \>
  <form data-members-form="subscribe" id="newsletter-form" class="m-subscribe-section__container">
    <div class="m-subscribe__form">
      <div class="pos-relative">
        <label for="newsletter-input" class="sr-only">Email Address</label>
        <input data-members-email id="newsletter-input" class="m-input in-subscribe-section" type="email"
          placeholder="Email address" required />
      </div>
      <button id="newsletter-button" class="m-button primary block" type="submit">Subscribe</button>
      <p style="font-size:0.8em">No spam. No noise. I don't share your email with anyone.</p>
    </div>
    <div class="m-subscribe__success">
      <header class="m-heading no-margin">
        <img src="{{asset "images/success.png"}}" alt="Success!" class="m-subscribe__success_icon">
        <p class="m-heading__description in-newsletter-form">
          {{t "Now check your inbox and click the link to confirm your subscription."}}
        </p>
      </header>
    </div>
    <p class="m-subscribe__invalid m-small-text">
      {{t "Please enter a valid email address"}}
    </p>
    <p class="m-subscribe__error m-small-text">
      {{t "Oops! There was an error sending the email, please try later."}}
    </p>
  </form>
</div>
