.m-icon-button {
  color: var(--titles-color);
  font-size: 1.125rem;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  @extend .content-centered;
  @extend .no-appearance;
  @extend .focusable;

  &.outlined {
    border: 1px solid var(--primary-foreground-color);
  }

  &.filled {
    background-color: var(--background-color);
    @include bs(0 2px 4px var(--button-shadow-color-normal));
    @include transition(all .25s cubic-bezier(.02,.01,.47,1));

    &:hover {
      @include bs(0 4px 8px var(--button-shadow-color-hover));
    }
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.in-mobile-topbar {
    width: 50px;
    height: 50px;
  }

  &.as-close-menu {
    position: absolute;
    top: $mobile-space;
    right: $mobile-space;
    width: 32px;
    height: 32px;
    font-size: 0.625rem;
    z-index: 2;

    @include respond-to('medium') {
      display: none !important;
    }
  }

  &.as-close-search {
    position: absolute;
    top: $mobile-space;
    right: $mobile-space;
    width: 32px;
    height: 32px;
    font-size: 0.625rem;
    z-index: 2;

    @include respond-to('medium') {
      top: 30px;
      right: 30px;
      width: 42px;
      height: 42px;
      font-size: 0.875rem;
    }

    @include respond-to('extra-large') {
      top: 40px;
      right: 40px;
      width: 50px;
      height: 50px;
    }
  }

  &.in-menu-main {
    display: none;

    @include respond-to('medium') {
      display: flex;
      width: 32px;
      height: 32px;
    }
  }

  &.more {
    font-size: 6px;
    z-index: 6;
    position: relative;

    &.active {
      color: var(--primary-subtle-color);
    }
  }

  &.in-recommended-articles {
    position: absolute;
    font-size: 0.625rem;
    width: 40px;
    height: 40px;
    top: 150px;
    z-index: 2;
    @include transform(translateY(-50%));

    @include respond-to('large') {
      display: none;
    }
  }

  &.as-load-comments {
    position: relative;
    width: 60px;
    height: 60px;
    font-size: 1.250rem;
    margin: 0 auto;
    z-index: 2;

    @include respond-to('medium') {
      width: 80px;
      height: 80px;
      font-size: 1.625rem;
    }
  }

  &.progress {
    position: relative;

    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;

      circle {
        stroke: var(--primary-subtle-color);
        transform-origin: 50% 50%;
        @include transform(rotate(-90deg));
        @include transition(stroke-dashoffset 0.2s);
      }
    }
  }
}